@charset "UTF-8";
html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

* {
    /*border: red 1px solid;*/
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #555;
    line-height: 28px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
    position: relative;
    display: flex;
}


/* Intro */
.intro {
    position: relative;
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
}

.intro > .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.intro > .container {
    position: relative;
    z-index: 2;
}

.intro > .container > .row > .media > .ysh {
    position: relative;
    z-index: 3;
    margin: 3rem auto 0;
    width: 13rem;
    height: 13rem;
    border-radius: 6rem;
}

.intro > .container > .row > .media > .menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3rem;
}

.intro > .container > .row > .media > .menu > .list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0;
    height: 100%;
    border-radius: 50px;
    background-color: #C75050;
}

.intro > .container > .row > .media > .menu > .list > .item {
    margin: 0 1rem;
}
.intro > .container > .row > .media > .menu > .list > .item > a .img{
    width: 50px;
    height: 50px;
}

/* Main */
.main {
    max-width: 1250px;
    width: 100%;
    box-shadow: 0 0 50px 5px rgb(0 0 0 / 15%);
    position: relative;
    margin: -90px auto 0;
    background: #fff;
    z-index: 10;

}

/*aboutMe*/
.main > .aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main > .aboutMe > .title{
    width: 1250px;
    height: 50px;
    font-size: 50px;
    margin-bottom: 4rem;
    text-align: center;
}

.main > .aboutMe > .text {
    width: 1250px;
    padding-left: 9rem;
    font-size: 25px;
}

/*career*/

.main >.aboutMe >.career {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main > .aboutMe > .career > .title{
    width: 1250px;
    height: 50px;
    font-size: 50px;
    margin-bottom: 4rem;
    text-align: center;
}

.main > .aboutMe  > .career > .history {
    width: 1100px;
    display: flex;
}
.main > .aboutMe  > .career >.history>.one, .two{
    flex: 1;
}

.main > .aboutMe > .career >.history>.one b {
    font-size: 1.7rem;
}
.main > .aboutMe  > .career >.history>.one p {
    font-size: 1.3rem;
}

.main > .aboutMe  > .career >.history>.two b {
    font-size: 1.7rem;
}
.main > .aboutMe  > .career >.history>.two p {
    font-size: 1.3rem;
}

/*contact*/

.main >.aboutMe >.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main > .aboutMe > .contact > .title{
    width: 1250px;
    height: 50px;
    font-size: 50px;
    margin-bottom: 4rem;
    text-align: center;
}

.main > .aboutMe > .contact > .contact{
    font: inherit;
    padding: 3rem 3rem 3.5rem 3rem;
    /*background-color: #dfe7e8;*/
}


.main > .aboutMe > .contact >.box {
    display: flex;
    margin-bottom: 0.5rem;
    width: 1100px;
}

.main > .aboutMe > .contact >.box > .image {
    margin-right: 1.5rem;
    width: 50px;
    height: 50px;
}

.main > .aboutMe > .contact > .box > .text{
    font: inherit;
    font-size: 1.5rem;

    padding-top: 0.5rem;
}
.main > .aboutMe > .contact > .box > .one {
    margin-right: 18rem;
}

/*skill*/
.main > .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #f8f8f8;
}

.main > .skill > .title{
    width: 1250px;
    height: 100px;
    font-size: 50px;
    margin-bottom: 4rem;
    text-align: center
}

.main > .skill > .grid{
    /*align-self: stretch;*/
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
    margin-block: unset;
    margin-inline: unset;
    padding-inline: unset;

    width: 1200px;
}
.main > .skill > .grid > .abilities{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;

    padding-right: 1rem;
}

.main > .skill > .grid > .abilities:hover {
    transform: translateY(0.5rem);
}

.main > .skill > .grid > .abilities > .image{
    width: 5rem;
    height: 7rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.main > .skill > .grid > .abilities > .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main > .skill > .grid > .abilities > .box > .title{
    font: inherit;
    font-size: 2.5rem;
    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
}

.main > .skill > .grid > .abilities > .box > .text{
    font: inherit;
    margin-bottom: 0.7rem;

}

/*project*/

.main > .project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main > .project > .title{
    width: 1250px;
    height: 100px;
    font-size: 50px;
    margin-bottom: 4rem;
    text-align: center
}

.main > .project > .section{
    width: 1250px;
}

.main > .project  > .section input[id*="slide"] {
    display: none;
}
.main > .project  > .section .slideWrap {
    max-width: 33rem;
    max-height: 35rem;
    margin: 0 auto;
    overflow: hidden;
}
.main > .project  > .section .slideList{
    white-space: nowrap;
    font-size: 0;
}

.main > .project  > .section .slideList > li{
    display: inline-block;
    vertical-align: center;
    width: 100%;
    height: 100%;

    transition: all 0.5s;
}

.main > .project  > .section .slideList > li >a{
    display: block;
    position: relative;
}

.main > .project  > .section .slideList > li >a img{
    width: 100%;
    height: 100%;

}

.main > .project  > .section .slideList label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.main > .project  > .section .slideList .left{
    left: 30px;
    background: url("../images/left.png") center center / 100% no-repeat;
}

.main > .project  > .section .slideList .right{
    right: 30px;
    background: url("../images/right.png") center center / 100% no-repeat;
}
.main > .project > .section [id="slide01"]:checked ~ .slideWrap .slideList > li {transform: translateX(0%);}

.main > .project > .section [id="slide02"]:checked ~ .slideWrap .slideList > li {transform: translateX(-100%);}
.main > .project > .section [id="slide03"]:checked ~ .slideWrap .slideList > li {transform: translateX(-200%);}




