<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>윤석훈 포트폴리오</title>
</head>
<body>
<section class="intro-hero">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <img alt="" class="intro-hero-img" src="assets/img/hero-round.png">
                <h1 class="hero-title">Hello I’m <strong>Michał Janeczek</strong></h1>
            </div>
            <div class="social-intro-container col-sm-12">
                <ul class="list-inline social social-intro">
                    <li>
                        <a href="https://github.com/mjaneczek" target="_blank"><i class="fa fa-github"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/micha%C5%82-janeczek-248b1362/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="mailto:michal.janeczek@vszone.gg"><i class="fa fa-envelope"></i></a>
                    </li>
                    <li>
                        <a href="skype:michal-janeczek?add"><i class="fa fa-skype"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<main class="content-wrap">
    <section class="about-me" id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-title">About Me</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 about-me-text pl-lg-5">
                    <p class="lead my-4">
                        Hello, I’m <strong>Michał Janeczek</strong>, a Full-Stack Developer based in Poland.
                    </p>
                    <p class="mb-5">
                        I am 22 years old and currently I have over 4 years commercial career as backend and javascript developer.
                        During my career I developed a few open source projects and I released 3 startups on my own.
                    </p>
                    <h4>Personal Information</h4>
                    <ul class="personal-info list-inline clearfix mb-5">
                        <li><strong>Full Name :</strong> Michał Janeczek</li>
                        <li><strong>Birthday :</strong> 22 November 1995</li>
                        <li><strong>Address :</strong> Warsaw, Poland</li>
                        <li>
                            <strong>Email :</strong> <a href="mailto:michal.janeczek@vszone.gg">michal.janeczek@vszone.gg</a>
                        </li>
                        <li><strong>Job :</strong> Full-Stack Developer</li>
                        <li><strong>Skype :</strong> michal-janeczek</li>
                    </ul>
                    <a class="btn btn-theme btn-active mr-md-3" href="/assets/cv.pdf" target="_blank">download resume</a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-title">What i do?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="service-block equal-height">
                        <div class="sr-icon"><img alt="" src="assets/img/icons/sr2.png"></div>
                        <h4 class="block-title">Backend Development</h4>
                        <p>Ruby, Ruby on Rails, Gem development, PostgreSQL, MongoDB, Elixir</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="service-block equal-height">
                        <div class="sr-icon"><img alt="" src="assets/img/icons/sr3.png"></div>
                        <h4 class="block-title">Frontend  Development</h4>
                        <p>React, Redux, Webpack, Jest, Babel, Node, Angular, Ember</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="service-block equal-height">
                        <div class="sr-icon"><img alt="" src="assets/img/icons/sr1.png"></div>
                        <h4 class="block-title">Software Architecture</h4>
                        <p>TDD, BDD, SOLID, Clean Code, Interactors, Component Cohesion &amp; Coupling</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fun-fact">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 text-center mt-sm-4">
                    <div class="fun-fact-icon">
                        <span class="lnr lnr-laptop"></span>
                    </div>
                    <h4 class="fun-fact-count">8+</h4>
                    <p class="fun-fact-title">programming years</p>
                </div>
                <div class="col-lg-3 col-sm-6 text-center mt-sm-4">
                    <div class="fun-fact-icon">
                        <span class="lnr lnr-briefcase"></span>
                    </div>
                    <h4 class="fun-fact-count">4+</h4>
                    <p class="fun-fact-title">commercial career years</p>
                </div>
                <div class="col-lg-3 col-sm-6 text-center mt-sm-4">
                    <div class="fun-fact-icon">
                        <span class="lnr lnr-construction"></span>
                    </div>
                    <h4 class="fun-fact-count">3</h4>
                    <p class="fun-fact-title">side projects</p>
                </div>
                <div class="col-lg-3 col-sm-6 text-center mt-sm-4">
                    <div class="fun-fact-icon">
                        <span class="lnr lnr-code"></span>
                    </div>
                    <h4 class="fun-fact-count">8</h4>
                    <p class="fun-fact-title">open source projects</p>
                </div>
            </div>
        </div>
    </section>

    <section class="work-experience bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-title">work experience</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-5">
                    <div class="work-exp-block">
                        <h4 class="block-title">Junior .NET Programmer</h4>
                        <h6 class="company-name color-text">WISP Group</h6>
                        <div class="working-duration">
                            03.2012-06.2012
                        </div>
                        <p>C#, WPF (MVVM), NUnit</p>
                    </div>
                </div>
                <div class="col-md-6 mt-5">
                    <div class="work-exp-block">
                        <h4 class="block-title">.NET / Ruby on Rails Programmer</h4>
                        <h6 class="company-name color-text">Mercomp</h6>
                        <div class="working-duration">
                            03.2013 - 09.2013
                        </div>
                        <p>WPF, ASP.NET MVC, Ruby on Rails</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-5">
                    <div class="work-exp-block">
                        <h4 class="block-title">Ruby on Rails Programmer</h4>
                        <h6 class="company-name color-text">EL Passion</h6>
                        <div class="working-duration">
                            11.2013 - 07.2015
                        </div>
                        <p>Ruby on Rails, TDD &amp; Rspec, AngularJS, Agile</p>
                    </div>
                </div>
                <div class="col-md-6 mt-5">
                    <div class="work-exp-block">
                        <h4 class="block-title">Full-Stack Developer</h4>
                        <h6 class="company-name color-text">Kontomierz.pl</h6>
                        <div class="working-duration">
                            08.2015 - 12.2015
                        </div>
                        <p>Ruby on Rails, React, Redux, AngularJS, Agile</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-5">
                    <div class="work-exp-block">
                        <h4 class="block-title">Team leader</h4>
                        <h6 class="company-name color-text">StreatUp</h6>
                        <div class="working-duration">
                            09.2016 - 12.2016
                        </div>
                        <p>Ruby on Rails, BDD, Payments Integration, Agile</p>
                    </div>
                </div>
                <div class="col-md-6 mt-5">
                    <div class="work-exp-block">
                        <h4 class="block-title">Full-Stack Developer</h4>
                        <h6 class="company-name color-text">Near Me</h6>
                        <div class="working-duration">
                            01.2017 - 10.2017
                        </div>
                        <p>Ruby on Rails, Platform Development, Gem Development</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-title">My Startups</h2>
                </div>
            </div>
            <div class="row portfolio">
                <div class="col-md-6 col-lg-4 portfolio-item cat1 cat5">
                    <div class="portfolio-block">
                        <img alt="" src="assets/img/portfolio/1.png">
                        <div class="portfolio-overlay">
                            <div class="portfolio-btn-action">
                                <a href="https://github.com/mjaneczek/vielen-games-api"><span class="lnr lnr-code"></span></a>
                            </div>
                            <div class="portfolio-desc">
                                <h4>Vielen Games</h4>
                                <p>API for a mobile game<br>Scala, MongoDB</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 portfolio-item cat2 cat3">
                    <div class="portfolio-block">
                        <img alt="" src="assets/img/portfolio/2.png">
                        <div class="portfolio-overlay">
                            <div class="portfolio-btn-action">
                                <a href="http://www.crashbreak.com/"><span class="lnr lnr-link"></span></a>
                                <a href="https://github.com/crashbreak"><span class="lnr lnr-code"></span></a>
                            </div>
                            <div class="portfolio-desc">
                                <h4>CrashBreak</h4>
                                <p>Programming tool<br>RoR, AngularJS, Gem Development</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 portfolio-item cat1 cat2 cat5">
                    <div class="portfolio-block">
                        <img alt="" src="assets/img/portfolio/3.png">
                        <div class="portfolio-overlay">
                            <div class="portfolio-btn-action">
                                <a href="http://vszone.gg/"><span class="lnr lnr-link"></span></a>
                            </div>
                            <div class="portfolio-desc">
                                <h4>Versus Zone</h4>
                                <p>Streamer tool<br>RoR, React &amp; Redux, Elixir</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-title">Blog</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article class="blog-post">
                        <div class="post-img"><img alt="" src="assets/img/blog/1.png"></div>
                        <div class="post-content">
                            <h2 class="post-title">How to reproduce production exceptions locally</h2>
                            <div class="post-meta">
                                27 Sep 2015
                            </div>
                            <p>The idea of CrashBreak is to reproduce production exceptions on the programmer’s computer. It’s done by creating a test request file with the same request data and system state.</p>
                            <a class="btn btn-theme mt-2" href="https://medium.com/@mjaneczek/how-to-reproduce-production-exceptions-locally-via-request-spec-and-not-go-crazy-e93924f0693d">Read more</a>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="blog-post">
                        <div class="post-img"><img alt="" src="assets/img/blog/2.png"></div>
                        <div class="post-content">
                            <h2 class="post-title">How to combine the benefits of unit and feature testing</h2>
                            <div class="post-meta">
                                16 Jun 2016
                            </div>
                            <p>How many methods of testing an app have you seen? Do you have a friend who only believes in the legitimacy of acceptance tests? Or are you loyal fans of TDD and striving for 100% coverage?</p>
                            <a class="btn btn-theme mt-2" href="https://medium.com/@mjaneczek/how-to-combine-unit-and-feature-test-benefits-and-not-get-into-a-100-test-coverage-trap-9935156eca">Read more</a>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="blog-post">
                        <div class="post-img"><img alt="" src="assets/img/blog/3.png"></div>
                        <div class="post-content">
                            <h2 class="post-title">Interactors architecture in your Ruby on Rails app</h2>
                            <div class="post-meta">
                                in progress
                            </div>
                            <p>Have you ever tried writing backend application independent from the framework? Is it possible to treat Ruby on Rails like a plugin to your app? Let's check why you should think about it!</p>
                            <a class="btn btn-theme disabled mt-2" href="#">Read more</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-title">Open source</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article class="blog-post">
                        <div class="post-content">
                            <h2 class="post-title">Conventional Redux</h2>
                            <div class="post-meta">
                                React/Redux library
                            </div>
                            <p>Library for small and medium react applications, it wraps the react-redux and provides API based on convention over configuration pattern without breaking redux compatibility.</p>
                            <a class="btn btn-theme mt-2" href="https://github.com/mjaneczek/conventional-redux">Check GitHub</a>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="blog-post">
                        <div class="post-content">
                            <h2 class="post-title">CrashBreak</h2>
                            <div class="post-meta">
                                Ruby Gem
                            </div>
                            <p>Library for integration with crashbreak.com. The exception notifier - it sends the exception with all details and dumped system to backend server via JSON API.</p>
                            <a class="btn btn-theme mt-2" href="https://github.com/crashbreak/crashbreak">Check GitHub</a>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="blog-post">
                        <div class="post-content">
                            <h2 class="post-title">Marketplace Kit</h2>
                            <div class="post-meta">
                                Ruby Gem
                            </div>
                            <p>Library inspired by Capistrano gem for Marketplace Platform users. It integrates with the internal platform API and provides 3 core commands - deploy, pull and real time sync.</p>
                            <a class="btn btn-theme mt-2" href="https://github.com/mdyd-dev/marketplace-kit">Check GitHub</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-title">Testimonials</h2>
                </div>
            </div>
            <div class="row">
                <div class="quote-slides">
                    <div class="row row-eq-height">
                        <div class="col-md-6">
                            <div class="quote-item mb-4">
                                <div class="author-avatar"><img alt="" src="assets/img/author/1.jpg"></div>
                                <div class="quote-text">
                                    <h4 class="author-name">Thijs van Alebeek</h4>
                                    <p class="author-profession">QC One Co-founder</p>
                                    <p class="quote-full">Michal is a young but very talented Rails developer, working with him is really pleasant. As an international orientated company it is very important for us to have dedicated developers. Our platforms are being used 24/7 worldwide, so the flexible availability of Michal was very appreciated. The communication about how to tackle issues or how to create the most easy and reliable solution for a feature runs smoothly.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="quote-item mb-4">
                                <div class="author-avatar"><img alt="" src="assets/img/author/2.jpg"></div>
                                <div class="quote-text">
                                    <h4 class="author-name">Adam Broadway</h4>
                                    <p class="author-profession">Near Me Founder</p>
                                    <p class="quote-full">Michal bought out-of-the-box thinking to our project and helped kick-off a revolutionary way to manage and deploy configuration and content management on our platform.  He questioned convention and looked for better ways that things could be done.  His conviction and passion for building great applications is an asset for any team.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="footer-theme-name">Michał Janeczek</h1>
                <p>All rights reserved © Copyright 2018</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>